<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>

<h3 th:text>List of Users</h3>
<br>

<table>

    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
    </tr>
    <tr th:each = "user : ${users}">

        <td th:text = "${user.name}">...</td>
        <td th:text = "${user.surname}">...</td>
        <td th:text = "${user.age}">...</td>
        <td>
            <form th:method = "GET" th:action = "@{/updateUser}" th:object = "${user}">
                <button type = "submit" th:name = "id" th:value = "${user.getId()}">UPDATE USER</button>
            </form>
        </td>
        <td>
            <form th:method = "POST" th:action = "@{/deleteUser}" th:object = "${user}">
                <button type = "submit" th:name = "id" th:value = "${user.getId()}">DELETE USER</button>
            </form>
        </td>
    </tr>
</table>
<br>

<input type = "button" value = "ADD USER" onclick = "window.location.href = 'addNewUser'"/>

</body>
</html>